@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen m-0 flex items-center justify-center;
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(to bottom right, #fffbe6, #fff5cc);
}

.dark body {
  background: #1a1a1a; /* یا یک گرادیان تیره‌تر */
  color: #f5f5f5;
}

@layer base {
  html.dark {
    background-color: #1a1a1a;
    color: #f5f5f5;
  }
}


